<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Victoria Naloxone Map - Edit/Remove Kit Locations</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="css/settings.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


  </head>
  <body>
    <div>
      <br>
      <br>
      <h2>Edit/Remove Kit Locations</h2>
      <br>
      <hr>
    </div>
    <div>
        <br>
        <h3>Edit Kit Location</h3>
        <br>
    </div>
    <div>
        <hr>
        <br>
      </div>
    <div>
      <label for="latitude">Latitude</label>
      <br>
      <input id="latitude" ng-model="kit.latitude"></input>
    </div>
    <br>
    <div>
      <label for="longitude">Longitude</label>
      <br>
      <input id="longitude" ng-model="kit.longitude"></input>
    </div>
    <br>
    <div>
      <label for="name">Name</label>
      <br>
      <input id="name" ng-model="kit.name"></input>
    </div>
    <br>
    <div>
      <a class="btn btn-light" role="button" onclick=changeKit()>Submit</a>
    </div>
    <div>
        <hr>
        <br>
        <h3>Remove Kit Location</h3>
    </div>
    <br>
    <hr>
    <br>
      <div>
        <label for="name">Name</label>
        <br>
        <input id="name" ng-model="kit.name"></input>
      </div>
      <br>
      <div>
        <a class="btn btn-light" role="button" onclick=removeKit()>Submit</a>
      </div>
      <br>
    <!-- JAVASCRIPT SCRIPT -->
    <!-- ADD JS FILES HERE -->
    <script src="js/helper.js"></script> <!-- Loopback JavaScript Helper-->
    <script src="js/main.js"></script>
    <script src="js/kit-create.js"></script>
  </body>
</html>