/*
name: homepage.css
modified by: Becca & Trista
purpose: to style the home menu
*/

body {
  background-color: #E8CEBF !important;
}

a:hover {
  color: #FFFFFF !important;
}

#emergencyButton {
  font-family: 'Roboto Condensed' sans-serif;
  padding-top: 4%;
  height: 45vh !important;
  width: 75vw !important;
  margin: auto;
}

#emergencyText:hover {
  background-color:#c47a5c;
}

#emergencyText{
  color: #FFFFFF;
  background-color: #db8867;
  padding: 5% 15% 5% 15%;
  font-size: 8vh !important;
  text-transform: uppercase;
}

#smbuttons{
	padding-top: 7%;
    width: 50vw !important;
}

#faq {
  float: right;
  padding-left: 10%;
  padding-right: 10%;
}

#login {
  float: left;
}

h1 {
  padding-top: 1%;
  text-align: center;
  font-size: 10vw !important;
  font-family: 'Imbue', serif !important;
}

h6 {
  text-align: center;
  font-size: 4vw !important;
  font-family: 'Imbue', serif !important;
  color:#3A3B3C !important;
}

div {
  text-align: center;
}

.button {
  color: #FFFFFF;
  background-color: #004949;
  font-family: 'Roboto Condensed' sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 3vh !important;
}

.button:hover {
  background-color:#003636;
}

#heart{
	color:#920000;
}