/*
name: homepage.css
modified by: Becca & Trista
purpose: to style the home menu
*/

body {
  background-color: #E8CEBF !important;
  font-family: 'Roboto Condensed', sans-serif !important;
}

a:hover {
  color: #FFFFFF !important;
}

#emergencyButton {
  padding-top: 2%;
  width: 45vmax !important;
  margin:auto;
}

#emergencyText:hover {
  background-color:#c47a5c;
}

#emergencyText{
  color: #FFFFFF;
  background-color: #db8867;
  padding:10%;
  font-size: 4vw !important;
  text-transform: uppercase;
  display: block;
  text-align:center;
}

#smbuttons{
	padding-top:2%;
    width: 50vmax !important;
	display: block;
}

#faq {
  font-size: 1.75vw !important;
  float: right;
  display: block;
  padding-left:15%;
  padding-right:15%;
}

#login {
  font-size: 1.75vw !important;
  float: left;
  display: block;
}

h1 {
  padding-top: 1%;
  text-align: center;
  font-size: 20vmin !important;
  font-family: 'Imbue', serif !important;
}

h6 {
  text-align: center;
  font-size: 7vmin !important;
  font-family: 'Imbue', serif !important;
  color:#3A3B3C !important;
}

div {
  text-align: center;
}

.button {
  color: #FFFFFF;
  background-color: #004949;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 3vh !important;
}

.button:hover {
  background-color:#003636;
}

#heart{
	color:#920000;
}