/*
name: step1.css
modified by: Becca & Trista
purpose: to style step one
*/

/*BODY - STYLING FOR WHOLE PAGE*/
body {
	font-family: 'Roboto Condensed', sans-serif !important;
	background-color: #E8CEBF !important;
	text-align: center !important;
	list-style-position: inside;
}

/*TITLE*/
.title {
	padding-top:2%;
	font-size:8vh;
    font-family: 'Imbue', serif !important;
	font-weight:bold;
}

/*911 BUTTON*/
#emergency {
    color: #FFFFFF;
    background-color: #db8867;
    padding: 5% 15% 5% 15%;
    font-size: 5vw !important;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

#emergency:hover {
	background-color:#c47a5c;
}

/*REGULAR TEXT STYLING*/
.text {
	font-size:3vh;
    text-align: center;
}

/*DIV*/
#sep {
	padding-top: 10vh;
}

/*BUTTONS*/
.button {
    background-color: #004949;
    color: white;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2vw !important;
	z-index:1000;
}

.button:hover {
	background-color:#003636;
	color: white;
}

#next {
  width: 10vmax !important;
  margin-right: 2vw;
  float: right;
}

#back {
  width: 10vmax !important;
  margin-left: 2vw;
  float:left;
}

#home {
  width: 10vmax !important;
  margin-right: 2vw;
  float: right;
}


.nextBack {
    padding-top: 15vh;
}

/*LIST*/
.list {
	font-size:3vh;
}

.progress-bar {
    background-color: #db8867 !important;
}

.modal-body {
    background-color: #E8CEBF;
}

#yes {
    padding: 1% 4% !important;
    float: right;
}

#no {
    padding: 1% 4% !important;
    float: left;
}

#modalBtnSpacing {
  padding-top: 6vh;
}

p {
  margin-left:1%;
  margin-right:1%;
}
#map { 
  position:relative; 
  bottom:0;
  width:100%; 
  height:70vh;
  z-index:0;
}

.outerdiv {
  display: flex;
  justify-content: center;
  align-items: center
}


.mapbtn{
  position:absolute; /* displays flex-items (children) inline */
  height: 70vh;
  width: 100%;
  display: flex;
}

#fly {
	font-family: 'Roboto Condensed', sans-serif !important;
  position: absolute;
  top: 1vh;
  left: 1vw;
  z-index:1000;
  width: 10vmax !important;
}

ul {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  font-size:3vh;
  text-align: left;
}

ol {
  text-align: left;
}

li {
  padding-top: 4%;
}

@media only screen and (max-width: 768px) {
  .block {
    padding-left: 10% !important;
  }
}

@media only screen and (max-width: 414px) {
  .block {
    padding-left: 0% !important;
  }
}
.steps {
  font-size: 3vh;
}

.block {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 12%;
  padding-bottom: 2%;
}

#goBack {
  font-family: 'Roboto Condensed', sans-serif !important;
  position: absolute;
  bottom: 1vh;
  left: 1vw;
  z-index:1000;
  width: 10vmax !important;
}

#goNext {
  font-family: 'Roboto Condensed', sans-serif !important;
  position: absolute;
  bottom: 1vh;
  right: 1vw;
  z-index:1000;
  width: 10vmax !important;
}

.mapbox-directions-instructions {
  max-height: 28vh !important;
}

.directions-control.directions-control-directions {
 width: 100%;
}

.directions-control-inputs {
  max-width: 100%;
}

.mapboxgl-ctrl-directions { 
  background-color: rgba(0,0,0,0.6);
  padding: 2% 2%;
}

@media only screen and (max-width: 600px) {
    .mapboxgl-ctrl-directions { 
      min-width: 58vw !important;
    }
}