/* 
	name: styles.css 
	author: Modified by Becca & Trista
	purpose: Styling for the FAQ page 
*/
	

/*BODY - STYLING FOR WHOLE PAGE*/
body{
	font-family: 'Roboto Condensed', sans-serif !important;/* !important overrides Bootstrap*/
	background-color: #E8CEBF !important;
	text-align: center !important; 
}

/*TITLE*/
h1 {
	font-family:'Imbue', serif !important;
	font-size: 15vh !important;
	color:black;
	padding:5%;
}

/*COLLAPSIBLE*/
.collapsible {
	background-color: #004949;
	color: white;
	cursor: pointer;
	padding: 3%;
	width: 100%;
	border: none;
	text-align: left;
	font-size: 4vh;
	outline: none;
}

.active,
.collapsible:hover {
	background-color: #003636;
}

.collapsible:after {
	content: '\02795';
	/* Unicode character for "plus" sign (+) */
	color: white;
	float: right;
	margin-left: 2%;
}

.active:after {
	content: "\2796";
	/* Unicode character for "minus" sign (-) */
}

.content {
	max-height: 0;
	overflow: hidden;
    font-size: 3vh;
	transition: max-height 0.2s ease-out;
	margin-left:2%;
	margin-right:2%;
}

/*alternate collapsible colour*/
.alt{
    background-color: #69A297;
}

p{
	/*padding for the text in the collapsible*/
    padding-top: 5%;
    padding-bottom: 5%;
}

p{
	/*padding for the text in the collapsible*/
    padding-top: 5%;
    padding-bottom: 5%;
}



/*BUTTONS*/
.button {
	font-family: 'Roboto Condensed', sans-serif !important;
	background-color: #004949;   
	color: white;
	padding: 0% 4% !important;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 4vh !important;
    float: left;
	margin-bottom: 2vw;

}

.button:hover {
	background-color:#003636;
	color: white;
}

.btndiv {
	padding-top: 10%;
	margin-left: 2vw;
}

.link {
  color:  #004949 !important;
}

.link:hover {
  color:#003636 !important;
}